.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml


# CMake
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/


*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*


*.[Cc]ache
!*.[Cc]ache/

ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs


_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

*.mdf
*.ldf
*.ndf

*.rdl.data
*.bim.layout
*.bim_*.settings

FakesAssemblies/

*.GhostDoc.xml

.ntvs_analysis.dat
node_modules/

typings/

*.plg

*.opt

*.vbw

**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

.paket/paket.exe
paket-files/

.fake/

.idea/
*.sln.iml

.cr/

__pycache__/
*.pyc

*.tss

*.jmconfig

*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

OpenCover/
coverage/


.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

=======
# Local Env
docker-compose.yml
.env
.env.local
.env.development
.env.production
