import { DataSource } from "typeorm";

export const dataSourceOptions = {
  type: "postgres",
  host: 'localhost',
  port: 5432,
  username: 'postgres',
  password: '159753', // Change this to your password
  database: 'swadb',
  entities: ['src/**/*.entity.js'],
  synchronize: true, //will change it as soon as migration scritps are implemented
  logging: true
};

const dataSource = new DataSource(dataSourceOptions);
export default dataSource;
